/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-dic-2020, 20:14:55
    Author     : tarda
*/
body {background-color: powderblue;}
h2   {color: red;}
p    {color: green;}
.comment {
    float: left;
    width: 100%;
    height: auto;
}